@model IEnumerable<MyFavoritePlaces.Models.PlaceCollectionItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="page-title">
    <PageTitle>Place that I have checked in</PageTitle>
</div>
<div class="place-columns">
    @foreach (var item in Model)
    {
        @Html.Partial("_PlaceCard", item)
        ;
    }
</div>